.SelectableButtons {
    display: flex;
    justify-content: space-between;

    &__Button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        border-radius: 32px;
        height: 16px;
        margin-left: 8px;
        cursor: pointer;

        background: rgba(189, 195, 199, 0.3);
        color: grey;

        &--active {
            background: rgba(102, 51, 153, 0.1);
            color: rgba(102, 51, 153, 1);
        }
    }
}
